---
title: "Services | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/services/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-2285">
    <div class="cs-container">
        <span class="cs-int-title">Services</span>
        <p class="cs-text">
            Platinum Craft Exteriors enhances your home's exterior with quality roofing and stunning finishes.
        </p>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link cs-active">Home</a>
            <a href="" class="cs-link cs-active">Services</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/aboutUsBanner.png" | resize({ width: 1280, height: 568 }) | jpeg %}" alt="library" width="1280" height="568" loading="eager" decoding="async">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1533">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Flower-->
            <!-- <img class="cs-flower" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flower-graphic.svg" alt="flower" loading="lazy" decoding="async" height="148" width="153"> -->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | jpeg %}" type="image/jpeg">
                <!--Tablet Image-->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/aboutUsImage.png" | resize({ width: 710, height: 690 }) | jpeg %}" alt="library" width="710" height="690" loading="eager" decoding="async">
            </picture>

            <!--Floating Blob-->
            <!-- <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-events-left.svg" alt="graphic" loading="lazy" decoding="async" height="710" width="690"> -->
        </div>
        <div class="cs-content">
            <h1 class="cs-title"> Visibility isn’t luck — it’s strategy. </h1>
            <h3>Our Approach</h3>
            <p>
                We believe in intentional growth.  </p>
            <p>
                Our monthly retainer model gives brands the consistency, creativity, and clarity they need to scale with purpose — locally and globally.
            </p>
            <h3>Public Relations — Turning Stories Into Prestige</h3>
            <p>
                    From launch campaigns to press placements, we craft narratives that reflect your brand’s luxury and leadership.
            </p>
            <p>

                    Our PR strategies build trust, awareness, and legacy across the global wedding and design industries.
            </p>
            <h3>
                    Media Relations — Building Your Editorial Legacy
            </h3>
            <p>
                    We secure the right placements in the right publications — connecting your expertise with audiences who value craftsmanship, creativity, and vision.
            </p>
            <p>
                    From Vogue to Architectural Digest, we position your brand where it belongs: in the spotlight.
            </p>
            <h3>
                Digital Marketing — Expanding Your Influence Online
            </h3>
            <p>
                From social storytelling to content visibility, we ensure your online presence matches your real-world reputation.
            </p>
            <p>
                Every digital touchpoint reflects your artistry — thoughtful, luxurious, and intentional.
            </p>


        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

{% include 'sections/cta.html' %}

{% endblock %}