// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #sbs-2348 {
        padding: var(--sectionPadding);
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1800/16rem);
            margin: auto;
            /* 16px - 80px */
            padding-left: clamp(1rem, 5vw, 5rem);
            padding-right: clamp(1rem, 5vw, 5rem);
            box-sizing: border-box;
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (766/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: 95vw;
            max-height: (450/16rem);
            display: block;
            order: -1;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2348 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }

        .cs-content {
            /* 48px - 80px */
            padding: clamp(3rem, 6vw, 5rem) 0;
        }

        .cs-picture {
            width: 43vw;
            height: auto;
            max-height: 100%;
            max-width: (810/16rem);
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-2348 {
            .cs-container {
                background-color: rgba(0, 0, 0, .2);
            }
            .cs-h2, .cs-item-text {
                color: var(--bodyTextColorWhite);
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-item-text {
                opacity: .8;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1684 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* left aligns the content, center the content by using 'center' */
            align-items: flex-start;
        }

        .cs-text {
            max-width: none;
        }

        .cs-card-group {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-auto-flow: row;
            gap: (28/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0 auto;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding-bottom: (28/16rem);
            border-bottom: 1px solid var(--primary);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            grid-column: span 12;
            grid-row: span 1;
            position: relative;
            z-index: 1;
            transition: box-shadow 0.3s, border-color 0.3s;

            &:hover {
                .cs-h3,
                .cs-link {
                    color: var(--primary);
                }

                .cs-arrow {
                    filter: initial;
                }
            }

            &:last-of-type {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        .cs-h3 {
            /* 20px - 31px */
            font-size: clamp(1.25rem, 2vw, 1.9375rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (16/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (24/16rem) 0;
            padding: 0;
            color: var(--bodyTextColor);
        }

        .cs-link {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            text-decoration: none;
            margin-top: auto;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (10/16rem);
            transition: color 0.3s;

            &:hover {
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-link-text {
            width: fit-content;
        }

        .cs-arrow {
            width: (20/16rem);
            height: auto;
            display: block;
            transition: filter 0.3s, transform 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1684 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            /* 20px - 32px */
            gap: clamp(1.25rem, 3vw, 2rem);
        }

        .cs-item {
            padding: 0;
            /* 20px - 32px */
            padding-left: clamp(1.25rem, 3vw, 2rem);
            border: none;
            border-left: 1px solid var(--primary);
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1684 {
            .cs-title,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1209 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;

        .cs-container {
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: left;
            text-indent: (32/16rem);
            max-width: (650/16rem);
            width: 100%;
            margin: 6px auto;
            color: var(--bodyTextColor);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            /* 8px - 48px */
            padding: 0 clamp(0.5rem, 5vw, 3rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            grid-column: span 12;

            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:after {
                /* content property isn't set until 768px, to hide the line on mobile */
                /* 120px - 200px */
                content: "";
                width: clamp(7.5rem, 14vw, 12.5rem);
                height: (90/16rem);
                background: url("/assets/svgs/testDottedLine.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 1;
                display: none;
                position: absolute;
                top: 0;
                left: clamp(11.5rem, 24vw, 20rem);
            }
        }

        .cs-number {
            font-size: (20/16rem);
            font-weight: bold;
            width: (88/16rem);
            height: (88/16rem);
            /* 16px - 32px */
            margin-bottom: clamp(1rem, 4vw, 2rem);
            color: var(--primary);
            background-color: var(--primaryLight);
            border: 1px solid var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            max-width: (413/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1209 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;

            &:after {
                display: block;
            }
        }
    }
}


/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-857 {
        padding: var(--sectionPadding);
        background-color: #fff;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (800/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-logo-group {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: (40/16rem);
        }

        .cs-logo {
            width: 40%;
            max-width: (120/16rem);
            height: auto;
            margin: 0;
            display: block;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #logos-857 {
        .cs-container {
            max-width: (1280/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #logos-857 {
            background-color: fade(#000, 20%);

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-logo {
                filter: grayscale(100) brightness(2000%);
            }
        }
    }
}



/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-67 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            column-gap: (20/16rem);
            row-gap: (64/16rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* pushes up the same amount the cs-item-img overlaps the card */
            margin: (40/16rem) 0 0 0;
            /* Padding L & R - 16px - 32px */
            padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
            border-radius: (8/16rem);
            background: #fff;
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-item-img {
            width: (80/16rem);
            height: (80/16rem);
            position: absolute;
            top: (-40/16rem);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (20/16rem);
            padding-bottom: (20/16rem);
            color: var(--bodyTextColor);
            border-bottom: 1px solid #e8e9ec;
        }

        .cs-info {
            width: 100%;
            /* margin-top auto pushes up against the rest of the card, that way when one card has more text than the other, the reviewer info is always pushed to the bottom and lined up with the rest of them.  This ensures better responsiveness for changing content */
            margin: auto 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .cs-flex-group {
            width: 100%;
            margin: 0;
        }

        .cs-name {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 700;
            width: 40%;
            margin: 0;
            display: block;
            color: var(--headerColor);
        }

        .cs-desc {
            font-size: (14/16rem);
            font-weight: 400;
            color: #7d799c;
            display: block;
        }

        .cs-item-stars {
            width: (96/16rem);
            height: (16/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-67 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-67 {
            .cs-title,
            .cs-text,
            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: rgba(0, 0, 0, 0.2);
            }

            .cs-desc {
                color: var(--primaryLight);
            }
        }
    }
}
