---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css" />
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> Save Our Earth, One Person at a Time</span>
            <h1 class="cs-title">Elevating wedding brands to new heights of global recognition.</h1>
            <p class="cs-text">
                Boutique PR for luxury wedding, architecture, and design brands ready to be seen on the world’s stage.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid">Take Your Brand to the Next Level</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero1.png" | resize({ width: 1920, height: 1200 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/hero1.png" | resize({ width:1920, height:1200 }) | jpeg %}" alt="library" width="1920" height="1200" loading="eager" decoding="async">
   </picture>
</section>
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2348">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Where Passion Meets Global Presence</h2>
            <p class="cs-text">
                New Level Group is a boutique wedding PR agency transforming creative brands into internationally recognized names.
                We connect artistry with opportunity — blending strategy, storytelling, and faith-driven focus to elevate every client we serve.
            </p>
            <a href="" class="cs-button-solid">Discover Our Story</a>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aboutus.png" | resize({ width: 1280, height: 568 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/aboutus.png" | resize({ width:1280, height:568 }) | jpeg %}" alt="library" width="1280" height="568" loading="lazy" decoding="async">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1684">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Expertise</span>
            <h2 class="cs-title">Grow Your Business with Our New Bold Agency</h2>
            <p class="cs-text">
                We help luxury wedding and design professionals gain the visibility they deserve.
                Our services are rooted in strategy, refined in execution, and measured by global impact.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Public Relations</h3>
                <p class="cs-item-text">
                    Crafting narratives that elevate.
                </p>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                         src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                         alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Media Relations</h3>
                <p class="cs-item-text">
                    Securing placements that matter.
                </p>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                         src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                         alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Digital Marketing</h3>
                <p class="cs-item-text">
                    Expanding your story’s reach online.
                </p>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                         src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                         alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-857">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">The Global Stage</span>
            <h3>We help brands earn placement in leading publications like Vogue, Brides, and Architectural Digest</h3>
        </div>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
            <img class="cs-logo" src="/assets/svgs/vogue.svg" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/svgs/the-knot.svg" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/svgs/architectural_digest.svg" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/svgs/brides.svg" alt="logo" width="150" height="61" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/svgs/vogue.svg" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/svgs/brides.svg" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/svgs/the-knot.svg" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/svgs/elle_decor.svg" alt="logo" width="150" height="61" loading="lazy" decoding="async">
        </div>
    </div>
</section>


{% include 'sections/cta.html' %}
{% endblock %}
